@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Raleway:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Bungee Shade', cursive;
    font-family: 'Raleway', sans-serif;
}



/** DESIGN HEADER **/ 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #777777;
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navbar-links li {
    list-style: none;
}
.navbar-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.mnavbar{
    display: none;
    cursor: pointer;
}

.mnavbar div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}


a h4{
    text-decoration: none;
    color: white;
}

.navbar-sub-1 {
    position: absolute;
    margin-top: 5%;
    margin-left: 120px;
    
}

.nav ul li:hover .navbar-sub-1{
    display: block;
    background: white;
    margin-top: 15px;
    margin-left: -15px;
}

.navbar-sub-2 {
    position: absolute;
    margin-top: px;
    margin-left: px;
    display: none;
    
}


/** END DESIGN HEADER **/ 


/* STARTSEITE DESIGN */


a {
    text-decoration: none;
}

.top {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startseite {
    background-image: url(/img/Background.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
}

#startseite::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .76;
    z-index: -2;
}


.titel {
    color: white;
    text-align: center;
    justify-content: center;  
    z-index: +2;
}

.titel h1 {
    font-size: 70px;
    letter-spacing: 4px;
}

.titel h2 { 
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 20px;
}

.titel h3 { 
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 20px;
}

.titel button {
    width: 130px;
    height: 40px;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;   
    border: solid 1px;
    margin-top: 130px;
}

.titel a {
   color: white;
}
/*Startseite MEDIA*/

@media screen and (max-width:1024px){
    .navbar-links{
        width: 40%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .navbar-links{
        position: fixed;
        right: 0px;
        height: 100%;
        top: 8vh;
        background-color: #777777c0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
    }


    .navbar-links li{
        opacity: 0;
    }

    .mnavbar{
        display: block;
    }

    .titel h1 {
        font-size: 30px;
        letter-spacing: 4px;
    }
    
    .titel h2 { 
        font-size: 20px;
        letter-spacing: 4px;
        margin-top: 20px;
    }
    
    .titel h3 { 
        font-size: 20px;
        letter-spacing: 4px;
        margin-top: 20px;
    }

}

.nav-active{
    transform: translateX(0%)!important;
    transition: transform 0.5s ease-in;
}

@keyframes navbarLinkFade {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* END STARTSEITE MEDIA*/



/* FOOTER */

footer{
    bottom: 0px;
    width: 100%;
    background:gray;
}

.main-content{
    display: flex ;
}

@media screen and (max-width:1024px){
    .main-content{
        display: block;
    }
}
.main-content .box{
    flex-basis: 50%;
    padding: 30px 20px;
}

.box h2{
    text-transform: uppercase;
    
}

.box .content {
    margin: 20px 0 0 0;
}


.left .content .social {
    margin: 20px 0 0 0;
    
}

.left .content .social a{
    padding: 0 25px;
   
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: rgb(158, 158, 158);
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    border-radius: 5px;
}
.left .content .social a span:hover{
    background: rgb(41, 41, 41);
}
.main-content span {
    color: white;
}

.main-content {
    text-align: center;
}

.right h3{
    font-size: 12px;
    line-height: 13px;
    padding: 20px;
    
}

.email .text-1{
    padding: 10px;
    font-weight: bold;

}

.email input{
    border: green 2px;
    height: 20px;
    min-width: 240px;
    padding: 15px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.75);
}
/* END FOOTERT */


/* Button */


button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: black(255, 255, 255);
    padding: 5px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;   
    border: solid 1px;

}

.custom-btn a {
    color: black;
}

.btn-5 {
    box-shadow: inset 0 0 20px rgba(223, 223, 223, 0.089);
    outline: 1px solid;
    outline-color: black(255, 255, 255);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 
  
.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px black(255, 255, 255, 0.493), 0 0 20px black(255, 255, 255, 0.616);
    outline-color: rgba(255, 255, 255, 0.021);
    outline-offset: 15px;
}
/* END BUTTON*/
